@import "../../styles/variables";

.container {
  margin: 1rem 0;

  table {
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    table-layout: fixed;
    margin: 0 auto 0 auto;
    border: 1px solid $background-color-page;
    border-radius: 0 0 15px 15px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    // border-collapse: collapse;
    tr {
      &:nth-child(odd) {
        background-color: $background-color-content;
      }

      &:last-child td:first-child {
        border-radius: 0 0 0 15px;
      }
      &:last-child td:last-child {
        border-radius: 0 0 15px 0;
      }

      position: relative;
      td {
        padding: 0.3rem 0.5rem;
        &:first-child {
          width: 20%;
          font-weight: bold;
          vertical-align: top;
        }
        .secret {
          position: absolute;
          width: 55px;
          height: 25px;
          margin: -2px 0 0 12px;
          right: 5px;
        }
      }

    }


  }
}