@import "../../styles/variables";

.container {
  button {
    padding: 5px 20px;
    border: 4px solid $button-color;
    border-radius: 20px;
    color: $button-color;
    background: linear-gradient(to bottom, $background-color-button-start, $background-color-button-end) border-box;
    font-size: $secundary-size;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    text-shadow: $text-shadow;

    @media (max-width: 768px) {
      font-size: $mobile-size;
    }

    &:hover {
      background: linear-gradient(to bottom, $background-color-button-end, $background-color-button-start) border-box;
    }
  }
}