@import "../../styles/variables";

.form__container {
    margin: 0 auto;
    max-width: 1240px;
    border: 1px solid $background-color-page;
    border-radius: 20px;
    background-color: $background-color-content;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    .field__container {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        padding: 20px 10px 20px 10px;
        label {
            color: $main-color;
            font-weight: 700;
            min-width: 160px;
        }
        input {
            padding: 5px 20px;
            width: 80%;
            display: flex;
            border-radius: 20px;
            font-size: $secundary-size;
            box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
        }
    }
}