@import "../../styles/variables";

main {
    background-color: $background-color-home;
    border: 1px solid $background-color-page;
    border-radius: 20px;
    padding: 1em;
    max-width: 1240px;
    margin: 0 auto 1em auto;
}