// Fonts
$main-font: Verdana, sans-serif;
$main-size: 16px;
$secundary-size: 18px;

// Colors
$main-color: #5a2800;
$secundary-color: #d7d7d7;
$link-color: #004294;
$title-color: #d4c0a1;
$button-color: #ffd18c;
$background-color-button-start: #002fe4;
$background-color-button-end: #000194;
$background-color-form: #5f4d41;
$background-color-page: #051122;
$background-color-content: #d4c0a1;
$background-color-home: #fff1d7;
$text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;