@import-normalize;
@import "./variables";

body {
    margin: 0;
    padding: 0;
    background-image: url('https://static.tibia.com/images/global/header/background-artwork.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $background-color-page;
    color: $main-color;
    font-family: $main-font;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

table, thead, th, tbody, td, tr {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar-thumb {
    background-color: $background-color-content;
    border-radius: 20px;
}
  
body::-webkit-scrollbar-track {
    background-color: $background-color-page;
}

body::-webkit-scrollbar {
    width: 5px;
}
