@import "../../styles/variables";

.home {
    padding: 1em;
    color: $secundary-color;
    background-color: $background-color-content;
    border: 1px solid $background-color-page;
    border-radius: 20px;
    h1 {
        text-align: center;
    }
    article {
        p {
            line-height: 25px;
        }
    }
}