@import "../../../styles/variables";

.wrapper {
  overflow-x: auto;
  width: 100%;
  border-radius: 0 0 15px 15px;
}

.container {
  margin-bottom: 1rem;

  table {
    max-width: 100%;
    width: 100%;
    table-layout: auto;
    margin: 0 auto 0 auto;
    border: 1px solid $background-color-page;
    border-radius: 0 0 15px 15px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
      font-size: $mobile-size;
    }

    tr {
      &:nth-child(odd) {
        background-color: $background-color-content;
      }

      &:last-child td:first-child {
        border-radius: 0 0 0 15px;
      }

      &:last-child td:last-child {
        border-radius: 0 0 15px 0;
      }

      td {
        padding: 0.3rem 0.5rem;

        &:first-child {
          width: 20%;
          min-width: 100px;
          font-weight: bold;
          vertical-align: top;
        }

        &:last-child {
          min-width: 140px;
        }

        a {
          text-decoration: none;
          color: $link-color;
          font-weight: 700;

          a:visited {
            color: none;
            text-decoration: none;
          }
        }
      }
    }
  }
}
