@import "../../styles/variables";

table {
    display: table;
    max-width: 1240px;
    width: 100%;
    margin: 1em auto 0 auto;
    border: 1px solid $background-color-page;
    border-radius: 15px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    thead {
        color: $secundary-color;
        background-color: $background-color-form;
        box-sizing: border-box;
        height: 25px;
        tr {
            th {
                &:first-child {
                    border-radius: 15px 0 0 0;
                }
                &:last-child {
                    border-radius: 0 15px 0 0;
                }
            }
        }
    }
    tbody {
        tr {
            &:nth-child(even) {
                background-color: $background-color-content;
            }
            td {
                width: auto;
                height: 25px;
                padding: 0 7px;
                &:nth-child(2) {
                    text-align: right;
                }
            }
        }
    }
}