@import "../../styles/variables";

footer {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    section {
        border: 3px solid $background-color-page;
        background-image: url('https://static.tibia.com/images/global/content/title-background-green.gif');
        background-repeat: repeat-x;
        background-size: contain;
        padding: 0;
        color: $title-color;
        border-radius: 15px;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
        p {
            margin: 10px;
            a {
                text-decoration: none;
                color: $secundary-color;
                font-weight: 700;
                text-shadow: $text-shadow;
                a:visited {
                    color: none;
                    text-decoration: none;
                }
            }
        }
    }
}