@import "../../styles/variables";

.boosted__container {
    border: 1px solid $background-color-page;
    border-radius: 20px;
    background-color: $background-color-content;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);

    .boosted__title {
        color: $main-color;
        background-color: $background-color-form;
        padding: 0.5em;
        width: 100%;
        box-sizing: border-box;
        border-radius: 15px 15px 0 0;
    }

    .boosted__context {
        padding: 1em 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1em;

        .boosted__text {
            color: $main-color;
        }

        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
        }
    }
}