@import "../../styles/variables";

.filter {
	background-color: $background-color-content;
	font-size: 1rem;
	padding: 0.062rem 0.312rem;
	border: none;

	option {
		background-color: $background-color-content;
		font-size: 1.125rem;
	}
}